server {
  listen 8080 default_server;
  server_name localhost;

  location / {
    passenger_enabled on;
    root {{ app.main_dir }}/app/public;

    # Tell Passenger that your app is a Node.js app
    passenger_app_type node;
    passenger_startup_file index.js;
  }
}