<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Touch Rugby Admin</a>
        <ul id="nav-mobile" class="right">
          <% if (user) { %>
            <li><a href="/admin/sign_out">Log out</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h3>Listing of clubs</h3>
        <% if (!clubs || clubs.length <= 0) { %>
          <p> You have no clubs saved, please add one by using the form below</p>
        <% } else { %>
          <table class="table striped highight">
          <thead>
            <tr>
              <th>Club Name</th><th>Bio</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < clubs.length; i++) {%>
              <tr>
                <td><%=clubs[i].clubName %></td><td><%= clubs[i].bio %></td><td><a href="/admin/removeCLub/<%= clubs[i].id %>">X</a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
        <form class="form-horizontal" action="/admin/addClub" method="post">
        <fieldset>
          <legend>Add a Club</legend>
          <div class="form-group">
            <label for="inputClubname" class="col-lg-2 control-label">Club Name: </label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputClubname" placeholder="club name"  name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputBio" class="col-lg-2 control-label">bio: </label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputBio" placeholder="<p>some details</p>"  name="bio">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
