<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">
      <form class="form-horizontal" action="/admin" method="post">
        <fieldset>
          <legend>Login</legend>
          <div class="form-group">
            <label for="inputUsername" class="col-lg-2 control-label">Username: </label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputUsername" placeholder="Username"  name="username">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password: </label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password"  name="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>