<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Richard Lewis">
	<meta name="description" content="Touch Rugby or Touch as it is commonly referred to is a sport that is playable by all. No matter your fitness level, experience or age use this site to find a Touch Rugby club near you, whether you want to play socially or competitively.">
    <meta name="keywords" content="Touch Rugby, Touch, Rugby, Touch Rugby near me, Play Touch Rugby">
	
	<title>Play Touch Rugby</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu background-greyscale" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active">Home</a></li>
				<li><a href="#about">About Touch</a></li>
				<li><a href="/touchmap">Touch Map</a></li>
			</ul>
		</div>
	</div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center background-greyscale">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">Touch Rugby</h1>
				<h2 class="subtitle">A sport for everyone</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					Improve your fitness, have fun<br>
					but most of all...make new friends
				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<p><a href="/touchmap" class="btn btn-default btn-lg bold">Find A Team Near You</a></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container background-greyscale">
	
		<h2 class="text-center title">About Touch Rugby</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>What is Touch Rugby?<br></strong></h5>
				<p>Touch rugby (also known as “touch”) is a minimal contact sport that is played worldwide by men, women and children of all ages. The game emphasizes running, agility and ball handling skills such as passing and catching.</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>Who can play?<br></strong></h5>    
				<p>Due to the minimal contact aspect, Touch Rugby is much more mixed in gender. Rugby players are usually guys, but in Touch Rugby it’s completely mixed. Girls and guys will play in the same team, guys can play against girls. Both sexes can play with and against each other, and it’s really common for that to happen too.</p>    
			</div>
		</div>
	</div>
</section>

<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/js/modernizr.js"></script>
<!-- Custom template scripts -->
<script src="/js/custom.js"></script>
</body>
</html>