<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">.no-fouc {display: none;}</style>
    <script type="text/javascript">document.documentElement.className = 'no-fouc';</script>
    <meta name="google-site-verification" content="g1Xfkij0sHbnFKdq0QZcslxqo7dcfV1t_XIdfXw2OI8" />
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Richard Lewis">
	<meta name="description" content="Touch Rugby or Touch as it is commonly referred to is a sport that is playable by all. No matter your fitness level, experience or age use this site to find a Touch Rugby club near you, whether you want to play socially or competitively.">
    <meta name="keywords" content="Touch Rugby, Touch, Rugby, Touch Rugby near me, Play Touch Rugby">
	
	<title>Play Touch Rugby</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">
<% if (success && success.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= success %>
  </div>
 <% } else if (error && error.length > 0) { %>

   <div class="alert alert-danger alert-dismissible fade in" role="alert">
   <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu background-greyscale" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active">Home</a></li>
				<li><a href="#about">About Touch</a></li>
				<li><a href="/touchmap">Touch Map</a></li>
				<li><a href="#affiliation">Club Affiliation</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center background-greyscale">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">Touch Rugby</h1>
				<h2 class="subtitle">A sport for everyone</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					Improve your fitness, have fun<br>
					but most of all...make new friends
				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<p><a href="/touchmap" class="btn btn-default btn-lg bold">Find A Team Near You</a></p>

				<h2 class="subtitle"><%= count %> Touch Clubs and counting...</h2>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container background-greyscale">
	
		<h2 class="text-center title">About Touch Rugby</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>What is Touch Rugby?<br></strong></h5>
				<p>Touch rugby (also known as “touch”) is a minimal contact sport that is played worldwide by men, women and children of all ages. The game emphasizes running, agility and ball handling skills such as passing and catching.</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>Who can play?<br></strong></h5>    
				<p>Due to the minimal contact aspect, Touch Rugby is much more mixed in gender. Rugby players are usually guys, but in Touch Rugby it’s completely mixed. Girls and guys will play in the same team, guys can play against girls. Both sexes can play with and against each other, and it’s really common for that to happen too.</p>    
			</div>
		</div>
		<div class="row">
		  <div class="col-sm-4 col-sm-offset-2">
		    <h5><strong>How serious is Touch Rugby?<br></strong></h5>    
			  <p>The great thing about Touch is that you can play to any level you want, most clubs play socially and competitively. Using this site you can find out what clubs are near you and to what level they play too. Touch is all about getting everyone involved.</p>    
		  </div>
		  <div class="col-sm-4">
		    <h5><strong>Do I need any special equipment?<br></strong></h5>    
			  <p>Comfortable clothing is recommended, shorts, t-shirts etc. Footwear would include trainers or boots. Please note NO screw-ins or metal studs are allowed.</p>    
		  </div>
		</div>
	</div>
</section>

<!-- Third (affiliation) section -->
<section class="section" id="affiliation">
	<div class="container background-greyscale">
	
		<h2 class="text-center title">Club Affiliation</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>What does being affiliated mean?<br></strong></h5>
				<p>Each nation will have it's own respective governing body, commonly known as a National Touch Association (NTA). By becoming an affiliated club you will then fall under the NTA governance. To find your NTA take a look <a href="http://toucheurope.org/site/membership/membership" target="_blank">here</a></p>    
			</div>
			<div class="col-sm-4">
			  <h5><strong>Are there any fees involved?<br></strong></h5>    
			    <p>Each NTA will usually have their own membership fee structure and benefits for this membership will vary.</p>      
			</div>
		</div>
		<div class="row">
		  <div class="col-sm-4 col-sm-offset-2">
		    <h5><strong>What are the benefits of becoming affiliated?<br></strong></h5>    
				<p>Each NTA will offer their own benefits for being an affiliated club and usually charge a membership fee, benefits will vary so it is best to contact your NTA for further information.</p>
			</div> 
		  </div>
		</div>
	</div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <p><a href="/documents/play_touch_disclaimer.doc">Disclaimer</a></p>
    </div>
  </div>
</footer>

<script>var count = <%- JSON.stringify(count) %>;</script>

<!-- Load js libs only when the page is loaded. -->
<script type="text/javascript">
  function requireJSOnload() {
    var element = document.createElement("script");
    element.src = "/js/require.js";
    element.setAttribute('data-main', '/js/main');
    document.body.appendChild(element);
  }
  if (window.addEventListener)
    window.addEventListener("load", requireJSOnload, false);
  else if (window.attachEvent)
    window.attachEvent("onload", requireJSOnload);
  else window.onload = requireJSOnload;
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-91788126-1', 'auto');
   ga('send', 'pageview');
</script>
</body>
</html>